.feitoria {
  background: url(../images/structures/feitoria.png);
}
.harbor {
  background: url(../images/structures/dock.png);
}

.folwark {
  background: url(../images/structures/folwark.png);
}
.donjon {
  background: url(../images/structures/donjon.png);
}
.archery-range {
  background: url(../images/structures/archery-range.png);
}

.barracks {
  background: url(../images/structures/barracks.png);
}

.blacksmith {
  background: url(../images/structures/blacksmith.png);
}

.bombard-tower {
  background: url(../images/structures/bombard-tower.png);
}

.castle {
  background: url(../images/structures/castle.png);
}

.dock {
  background: url(../images/structures/dock.png);
}

.farm {
  background: url(../images/structures/farm.png);
}

.feitoria {
  background: url(../images/structures/feitoria.png);
}

.fish-trap {
  background: url(../images/structures/fish-trap.png);
}

.guard-tower {
  background: url(../images/structures/tower.png);
}

.house {
  background: url(../images/structures/house.png);
}

.keep {
  background: url(../images/structures/tower.png);
}

.krepost {
  background: url(../images/structures/krepost.png);
}

.lumber-camp {
  background: url(../images/structures/lumber-camp.png);
}

.market {
  background: url(../images/structures/market.png);
}

.mill {
  background: url(../images/structures/mill.png);
}

.mining-camp {
  background: url(../images/structures/mining-camp.png);
}

.monastery {
  background: url(../images/structures/monastery.png);
}

.outpost {
  background: url(../images/structures/outpost.png);
}

.palisade-wall {
  background: url(../images/structures/palisade-wall.png);
}

.palisade-gate {
  background: url(../images/structures/palisade-gate.png);
}

.siege-workshop {
  background: url(../images/structures/seige-workshop.png);
}

.stable {
  background: url(../images/structures/stable.png);
}

.stone-wall {
  background: url(../images/structures/stone-wall.png);
}

.stone-gate {
  background: url(../images/structures/stone-gate.png);
}

.tower {
  background: url(../images/structures/tower.png);
}

.town-center {
  background: url(../images/structures/town-center.png);
}

.university {
  background: url(../images/structures/university.png);
}

.watch-tower {
  background: url(../images/structures/tower.png);
}

.wonder {
  background: url(../images/structures/wonder.png);
}
