.anarchy {
  /* background: url(../images/technologies/ballistics.png); */
}
.tech-arbalester {
  background: url(../images/technologies/arbalest.png);
}
.tech-architecture {
  background: url(../images/technologies/architecture.png);
}
.tech-arrow-slits {
  background: url(../images/technologies/arrowslits.png);
}
.tech-arson {
  background: url(../images/technologies/arson.png);
}
.artillery {
  /* background: url(../images/technologies/ar.png); */
}
.atheism {
  /* background: url(../images/technologies/ath.png); */
}
.tech-atonement {
  background: url(../images/technologies/atonement.png);
}

.tech-ballistics {
  background: url(../images/technologies/ballistics.png);
}
.tech-banking {
  background: url(../images/technologies/banking.png);
}
.tech-bearded-axe {
  /* background: url(../images/technologies/be.png); */
}
.tech-berserkergang {
  /* background: url(../images/technologies/ballistics.png); */
}
.tech-blast-furnace {
  background: url(../images/technologies/blast-furnace.png);
}
.tech-block-printing {
  background: url(../images/technologies/block-printing.png);
}
.tech-bloodlines {
  background: url(../images/technologies/bloodlines.png);
}
.tech-bodkin-arrow {
  background: url(../images/technologies/bodkin-arrow.png);
}
.tech-bombard-tower {
  background: url(../images/technologies/bombard-tower.png);
}
.tech-bow-saw {
  background: url(../images/technologies/bow-saw.png);
}
.tech-bracer {
  background: url(../images/technologies/bracer.png);
}
.tech-cannon-galleon {
  background: url(../images/technologies/cannon-galleon.png);
}
.tech-capped-ram {
  background: url(../images/technologies/capped-ram.png);
}
.tech-caravan {
  background: url(../images/technologies/caravan.png);
}
.tech-careening {
  background: url(../images/technologies/careening.png);
}
.tech-cartography {
  background: url(../images/technologies/cartography.png);
}
.tech-castle-age {
  background: url(../images/technologies/castle-age.png);
}
.tech-cavalier {
  background: url(../images/technologies/cavalier.png);
}
.tech-chain-barding-armor {
  background: url(../images/technologies/chain-barding-armor.png);
}
.tech-chain-mail-armor {
  background: url(../images/technologies/chain-mail-armor.png);
}
.tech-champion {
  background: url(../images/technologies/champion.png);
}
.tech-chemistry {
  background: url(../images/technologies/chemistry.png);
}
.tech-coinage {
  background: url(../images/technologies/coinage.png);
}
.tech-conscription {
  background: url(../images/technologies/conscription.png);
}
.tech-crop-rotation {
  background: url(../images/technologies/crop-rotation.png);
}
.tech-crossbowman {
  background: url(../images/technologies/crossbowman.png);
}
.tech-dark-age {
  background: url(../images/technologies/dark-age.png);
}
.tech-double-bit-axe {
  background: url(../images/technologies/double-bit-axe.png);
}
.tech-dry-dock {
  background: url(../images/technologies/dry-dock.png);
}
.tech-eagle-warrior {
  background: url(../images/technologies/eagle-warrior.png);
}
.tech-elite-unique-unit {
  background: url(../images/technologies/elite-unique-unit.png);
}
.tech-faith {
  background: url(../images/technologies/faith.png);
}
.tech-fast-fire-ship {
  background: url(../images/technologies/fast-fire-ship.png);
}
.tech-fervor {
  background: url(../images/technologies/fervor.png);
}
.tech-feudal-age {
  background: url(../images/technologies/feudal-age.png);
}
.tech-fletching {
  background: url(../images/technologies/fletching.png);
}
.tech-forging {
  background: url(../images/technologies/forging.png);
}
.tech-fortified-wall {
  background: url(../images/technologies/fortified-wall.png);
}
.tech-galleon {
  background: url(../images/technologies/galleon.png);
}
.tech-gill-nets {
  background: url(../images/technologies/gillnets.png);
}
.tech-gold-mining {
  background: url(../images/technologies/gold-mining.png);
}
.tech-gold-shaft-mining {
  background: url(../images/technologies/gold-shaft-mining.png);
}
.tech-guard-tower {
  background: url(../images/technologies/guard-tower.png);
}
.tech-guilds {
  background: url(../images/technologies/guilds.png);
}
.tech-halberdier {
  background: url(../images/technologies/halberdier.png);
}
.tech-hand-cart {
  background: url(../images/technologies/hand-cart.png);
}
.tech-heated-shot {
  background: url(../images/technologies/heated-shot.png);
}
.tech-heavy-camel-rider {
  background: url(../images/technologies/heavy-camel.png);
}
.tech-heavy-cavalry-archer {
  background: url(../images/technologies/heavy-cavalry-archer.png);
}
.tech-heavy-demolition-ship {
  background: url(../images/technologies/heavy-demolition-ship.png);
}
.tech-heavy-plow {
  background: url(../images/technologies/heavy-plow.png);
}
.tech-heavy-scorpion {
  background: url(../images/technologies/heavy-scorpion.png);
}
.tech-herbal-medicine {
  background: url(../images/technologies/herbal-medicine.png);
}
.tech-heresy {
  background: url(../images/technologies/heresy.png);
}
.tech-hoardings {
  background: url(../images/technologies/hoardings.png);
}
.tech-horse-collar {
  background: url(../images/technologies/horse-collar.png);
}
.tech-husbandry {
  background: url(../images/technologies/husbandry.png);
}
.tech-hussar {
  background: url(../images/technologies/hussar.png);
}
.tech-illumination {
  background: url(../images/technologies/illumination.png);
}
.tech-imperial-age {
  background: url(../images/technologies/imperial-age.png);
}
.tech-imperial-camel {
  background: url(../images/technologies/imperial-camel.png);
}
.tech-imperial-shirmisher {
  background: url(../images/technologies/imperial-skirmisher.png);
}
.tech-iron-casting {
  background: url(../images/technologies/iron-casting.png);
}
.tech-keep {
  background: url(../images/technologies/keep.png);
}
.tech-leather-archer-armor {
  background: url(../images/technologies/leather-archer-armor.png);
}
.tech-light-cavalry {
  background: url(../images/technologies/light-cavalry.png);
}
.tech-loom {
  background: url(../images/technologies/loom.png);
}
.tech-long-swordman {
  background: url(../images/technologies/long-swordsman.png);
}
.tech-man-at-arms {
  background: url(../images/technologies/man-at-arms.png);
}
.tech-masonry {
  background: url(../images/technologies/masonry.png);
}
.tech-murder-holes {
  background: url(../images/technologies/murder-holes.png);
}
.tech-onager {
  background: url(../images/technologies/onager.png);
}
.tech-padded-archer-armor {
  background: url(../images/technologies/padded-archer-armor.png);
}
.tech-paladin {
  background: url(../images/technologies/paladin.png);
}
.tech-plate-barding-armor {
  background: url(../images/technologies/plate-barding-armor.png);
}
.tech-plate-mail-armor {
  background: url(../images/technologies/plate-mail-armor.png);
}
.tech-pikeman {
  background: url(../images/technologies/pikeman.png);
}
.tech-redemption {
  background: url(../images/technologies/redemption.png);
}
.tech-ring-archer-armor {
  background: url(../images/technologies/ring-archer-armor.png);
}
.tech-sanctity {
  background: url(../images/technologies/sanctity.png);
}
.tech-scale-barding-armor {
  background: url(../images/technologies/scale-barding-armor.png);
}
.tech-scale-mail-armor {
  background: url(../images/technologies/scale-mail-armor.png);
}
.tech-shipwright {
  background: url(../images/technologies/shipwright.png);
}
.tech-siege-engineers {
  background: url(../images/technologies/siege-engineers.png);
}
.tech-siege-onager {
  background: url(../images/technologies/siege-onager.png);
}
.tech-siege-ram {
  background: url(../images/technologies/siege-ram.png);
}
.tech-spies-treason {
  background: url(../images/technologies/spies-treason.png);
}
.tech-squires {
  background: url(../images/technologies/squires.png);
}
.tech-stone-mining {
  background: url(../images/technologies/stone-mining.png);
}
.tech-stone-shaft-mining {
  background: url(../images/technologies/stone-shaft-mining.png);
}
.tech-supplies {
  background: url(../images/technologies/supplies.png);
}
.tech-theocracy {
  background: url(../images/technologies/theocracy.png);
}
.tech-thumb-ring {
  background: url(../images/technologies/thumb-ring.png);
}
.tech-town-patrol {
  background: url(../images/technologies/town-patrol.png);
}
.tech-town-watch {
  background: url(../images/technologies/town-watch.png);
}
.tech-tracking {
  background: url(../images/technologies/tracking.png);
}
.tech-treadmill-crane {
  background: url(../images/technologies/treadmill-crane.png);
}
.tech-two-handed-swordsman {
  background: url(../images/technologies/two-handed-swordsman.png);
}
.tech-two-man-saw {
  background: url(../images/technologies/two-man-saw.png);
}
.tech-unique-tech-castle {
  background: url(../images/technologies/unique-tech-castle.png);
}
.tech-unique-tech-imperial {
  background: url(../images/technologies/unique-tech-imperial.png);
}
.tech-war-galley {
  background: url(../images/technologies/war-galley.png);
}
.tech-wheelbarrow {
  background: url(../images/technologies/wheelbarrow.png);
}
