/* .hindustanis {
  background: url(../images/civilizations/hindustanis.png);
}

.gurjaras {
  background: url(../images/civilizations/gurjaras.png);
}

.bohemians {
  background: url(../images/civilizations/bohemians.png);
}

.burgundians {
  background: url(../images/civilizations/burgundians.png);
}
.bengalis {
  background: url(../images/civilizations/bengalis.png);
}
.dravidians {
  background: url(../images/civilizations/dravidians.png);
}
.poles {
  background: url(../images/civilizations/poles.png);
}
.sicilians {
  background: url(../images/civilizations/sicilians.png);
}
.aztecs {
  background: url(../images/civilizations/aztecs.png);
}
.berbers {
  background: url(../images/civilizations/berbers.png);
}
.britons {
  background: url(../images/civilizations/britons.png);
}
.bulgarians {
  background: url(../images/civilizations/bulgarians.png);
}
.burmese {
  background: url(../images/civilizations/burmese.png);
}
.byzantines {
  background: url(../images/civilizations/byzantines.png);
}
.celts {
  background: url(../images/civilizations/celts.png);
}
.chinese {
  background: url(../images/civilizations/chinese.png);
}
.cumans {
  background: url(../images/civilizations/cumans.png);
}
.ethiopians {
  background: url(../images/civilizations/ethiopians.png);
}
.franks {
  background: url(../images/civilizations/franks.png);
}
.goths {
  background: url(../images/civilizations/goths.png);
}
.huns {
  background: url(../images/civilizations/huns.png);
}
.incas {
  background: url(../images/civilizations/incas.png);
}
.indians {
  background: url(../images/civilizations/indians.png);
}
.italians {
  background: url(../images/civilizations/italians.png);
}
.japanese {
  background: url(../images/civilizations/japanese.png);
}
.khmer {
  background: url(../images/civilizations/khmer.png);
}
.koreans {
  background: url(../images/civilizations/koreans.png);
}
.lithuanians {
  background: url(../images/civilizations/lithuanians.png);
}
.magyars {
  background: url(../images/civilizations/magyars.png);
}
.malay {
  background: url(../images/civilizations/malay.png);
}
.malians {
  background: url(../images/civilizations/malians.png);
}
.mayans {
  background: url(../images/civilizations/mayans.png);
}
.mongols {
  background: url(../images/civilizations/mongols.png);
}
.persians {
  background: url(../images/civilizations/persians.png);
}
.portuguese {
  background: url(../images/civilizations/portuguese.png);
}
.saracens {
  background: url(../images/civilizations/saracens.png);
}
.slavs {
  background: url(../images/civilizations/slavs.png);
}
.spanish {
  background: url(../images/civilizations/spanish.png);
}
.tatars {
  background: url(../images/civilizations/tatars.png);
}
.teutons {
  background: url(../images/civilizations/teutons.png);
}
.turks {
  background: url(../images/civilizations/turks.png);
}
.vietnamese {
  background: url(../images/civilizations/vietnamese.png);
}
.vikings {
  background: url(../images/civilizations/vikings.png);
} */
