.bactrian-camel {
  background: url(../images/units/bactrian-camel.png);
}
.alfred-the-alpaca {
  background: url(../images/units/alfred-the-alpaca.png);
}
.photon-man {
  background: url(../images/units/photon-man.png);
}

.saboteur {
  background: url(../images/units/saboteur.png);
}

.sharkatzor {
  background: url(../images/units/sharkatzor.png);
}

.vmdl {
  background: url(../images/units/vmdl.png);
}

.amazon-warrior {
  background: url(../images/units/amazon-warrior.png);
}

.amazon-archer {
  background: url(../images/units/amazon-archer.png);
}

.crusader-knight {
  background: url(../images/units/crusader-knight.png);
}

.junk {
  background: url(../images/units/junk.png);
}

.penguin {
  background: url(../images/units/penguin.png);
}

.priest {
  background: url(../images/units/priest.png);
}

.ratha-melee {
  background: url(../images/units/ratha-melee.png);
}

.ratha-ranged {
  background: url(../images/units/ratha-ranged.png);
}

.royal-janissary {
  background: url(../images/units/royal-janissary.png);
}

.camel-scout {
  background: url(../images/units/camel-scout.png);
}
.coustillier {
  background: url(../images/units/coustillier.png);
}
.elite-coustillier {
  background: url(../images/units/coustillier.png);
}
.elephant-archer {
  background: url(../images/units/elephant-archer.png);
}
.elite-elephant-archer {
  background: url(../images/units/elephant-archer.png);
}
.obuch {
  background: url(../images/units/obuch.png);
}
.elite-obuch {
  background: url(../images/units/obuch.png);
}
.serjeant {
  background: url(../images/units/serjeant.png);
}
.elite-serjeant {
  background: url(../images/units/serjeant.png);
}
.ghulam {
  background: url(../images/units/ghulam.png);
}
.elite-ghulam {
  background: url(../images/units/ghulam.png);
}
.houfnice {
  background: url(../images/units/houfnice.png);
}
.hussite-wagon {
  background: url(../images/units/hussite-wagon.png);
}
.elite-hussite-wagon {
  background: url(../images/units/hussite-wagon.png);
}

.shrivamsha-rider {
  background: url(../images/units/shrivamsha-rider.png);
}
.elite-shrivamsha-rider {
  background: url(../images/units/shrivamsha-rider.png);
}

.chakram-thrower {
  background: url(../images/units/chakram-thrower.png);
}
.elite-chakram-thrower {
  background: url(../images/units/chakram-thrower.png);
}

.flemish-militia {
  background: url(../images/units/flemish-militia.png);
}

.arambai {
  background: url(../images/units/arambai.png);
}
.arbalester {
  background: url(../images/units/arbalester.png);
}
.archer {
  background: url(../images/units/archer.png);
}
.ballista-elephant {
  background: url(../images/units/ballista-elephant.png);
}
.battering-ram {
  background: url(../images/units/battering-ram.png);
}
.battle-elephant {
  background: url(../images/units/battle-elephant.png);
}
.berserk {
  background: url(../images/units/berserk.png);
}
.bombard-cannon {
  background: url(../images/units/bombard-cannon.png);
}
.boyar {
  background: url(../images/units/boyar.png);
}
.cannon-galleon {
  background: url(../images/units/cannon-galleon.png);
}
.camel {
  background: url(../images/units/camel.png);
}
.camel-archer {
  background: url(../images/units/camel-archer.png);
}
.camel-rider {
  background: url(../images/units/camel-rider.png);
}
.canoe {
  background: url(../images/units/canoe.png);
}
.capped-ram {
  background: url(../images/units/capped-ram.png);
}
.caravel {
  background: url(../images/units/caravel.png);
}
.cart {
  background: url(../images/units/cart.png);
}
.cataphract {
  background: url(../images/units/cataphract.png);
}
.cavalier {
  background: url(../images/units/cavalier.png);
}
.cavalry-archer {
  background: url(../images/units/cavalry-archer.png);
}
.centurion {
  background: url(../images/units/centurion.png);
}
.champion {
  background: url(../images/units/champion.png);
}
.cobra-car {
  background: url(../images/units/cobra-car.png);
}
.condottiero {
  background: url(../images/units/condottiero.png);
}
.conquistador {
  background: url(../images/units/conquistador.png);
}
.cow {
  background: url(../images/units/cow.png);
}
.chukonu {
  background: url(../images/units/chukonu.png);
}
.crocodile {
  background: url(../images/units/crocodile.png);
}
.crossbowman {
  background: url(../images/units/crossbowman.png);
}
.deer {
  background: url(../images/units/deer.png);
}
.demolition-raft {
  background: url(../images/units/demolition-raft.png);
}
.demolition-ship {
  background: url(../images/units/demolition-ship.png);
}
.dragon-ship {
  background: url(../images/units/dragon-ship.png);
}
.eagle-scout {
  background: url(../images/units/eagle-scout.png);
}
.eagle-warrior {
  background: url(../images/units/eagle-warrior.png);
}
.eastern-swordsman {
  background: url(../images/units/eastern-swordsman.png);
}
.elephant {
  background: url(../images/units/elephant.png);
}
.elephant-archer {
  background: url(../images/units/elephant-archer.png);
}
.elite-battle-elephant {
  background: url(../images/units/elite-battle-elephant.png);
}
.elite-boyar {
  background: url(../images/units/boyar.png);
}
.elite-genitour {
  background: url(../images/units/genitour.png);
}
.elite-kamayuk {
  background: url(../images/units/kamayuk.png);
}
.elite-karambit-warrior {
  background: url(../images/units/karambit-warrior.png);
}
.elite-keshik {
  background: url(../images/units/keshik.png);
}
.elite-leitis {
  background: url(../images/units/leitis.png);
}
.elite-magyar-huszar {
  background: url(../images/units/magyar-huszar.png);
}
.elite-skirmisher {
  background: url(../images/units/elite-skirmisher.png);
}
.elite-steppe-lancer {
  background: url(../images/units/elite-steppe-lancer.png);
}
.donkey {
  background: url(../images/units/donkey.png);
}
.fast-fire-ship {
  background: url(../images/units/fast-fire-ship.png);
}
.flamethrower {
  background: url(../images/units/flamethrower.png);
}
.flaming-camel {
  background: url(../images/units/flaming-camel.png);
}
.fire-ship {
  background: url(../images/units/fire-ship.png);
}
.fishing-ship {
  background: url(../images/units/fishing-ship.png);
}
.furious-the-monkey-boy {
  background: url(../images/units/furious-the-monkey-boy.png);
}
.galleon {
  background: url(../images/units/galleon.png);
}
.galley {
  background: url(../images/units/galley.png);
}
.gbeto {
  background: url(../images/units/gbeto.png);
}
.genitour {
  background: url(../images/units/genitour.png);
}
.genoese-crossbowman {
  background: url(../images/units/genoese-crossbowman.png);
}
.goose {
  background: url(../images/units/goose.png);
}
.imperial-camel-rider {
  background: url(../images/units/imperial-camel-rider.png);
}
.imperial-skirmisher {
  background: url(../images/units/imperial-skirmisher.png);
}
.janissary {
  background: url(../images/units/janissary.png);
}
.halberdier {
  background: url(../images/units/halberdier.png);
}
.heavy-camel-rider {
  background: url(../images/units/heavy-camel-rider.png);
}
.heavy-demo-ship {
  background: url(../images/units/heavy-demolition-ship.png);
}
.huskarl {
  background: url(../images/units/huskarl.png);
}
.legionary {
  background: url(../images/units/legionary.png);
}
.leitis {
  background: url(../images/units/leitis.png);
}
.light-cavalry {
  background: url(../images/units/light-cavalry.png);
}
.lion {
  background: url(../images/units/lion.png);
}
.longboat {
  background: url(../images/units/longboat.png);
}
.longbowman {
  background: url(../images/units/longbowman.png);
}
.long-swordsman {
  background: url(../images/units/long-swordsman.png);
}
.onager {
  background: url(../images/units/onager.png);
}
.organ-gun {
  background: url(../images/units/organ-gun.png);
}
.elite-organ-gun {
  background: url(../images/units/organ-gun.png);
}
.ox-cart {
  background: url(../images/units/ox-cart.png);
}
.ox-wagon {
  background: url(../images/units/ox-wagon.png);
}
.goat {
  background: url(../images/units/goat.png);
}
.hand-cannoneer {
  background: url(../images/units/hand-cannoneer.png);
}
.heavy-cavalry {
  background: url(../images/units/heavy-cavalry.png);
}
.heavy-cavalry-archer {
  background: url(../images/units/heavy-cavalry-archer.png);
}
.heavy-demolition-ship {
  background: url(../images/units/heavy-demolition-ship.png);
}
.heavy-pikeman {
  background: url(../images/units/heavy-pikeman.png);
}
.heavy-scorpion {
  background: url(../images/units/heavy-scorpion.png);
}
.horse {
  background: url(../images/units/horse.png);
}
.hussar {
  background: url(../images/units/hussar.png);
}
.iroquois-warrior {
  background: url(../images/units/iroquois-warrior.png);
}
.llama {
  background: url(../images/units/llama.png);
}
.jaguar {
  background: url(../images/units/jaguar.png);
}
.jaguar-warrior {
  background: url(../images/units/jaguar-warrior.png);
}
.kamayuk {
  background: url(../images/units/kamayuk.png);
}
.karambit-warrior {
  background: url(../images/units/karambit-warrior.png);
}
.keshik {
  background: url(../images/units/keshik.png);
}
.king {
  background: url(../images/units/king.png);
}
.kipchak {
  background: url(../images/units/kipchak.png);
}
.komodo-dragon {
  background: url(../images/units/komodo-dragon.png);
}
.konnik {
  background: url(../images/units/konnik.png);
}
.konnik-dismounted {
  background: url(../images/units/konnik-dismounted.png);
}
.knight {
  background: url(../images/units/knight.png);
}
.magyar-huszar {
  background: url(../images/units/magyar-huszar.png);
}
.man-at-arms {
  background: url(../images/units/man-at-arms.png);
}
.mangonel {
  background: url(../images/units/mangonel.png);
}
.mameluke {
  background: url(../images/units/mameluke.png);
}
.mangudai {
  background: url(../images/units/mangudai.png);
}
.missionary {
  background: url(../images/units/missionary.png);
}
.monk {
  background: url(../images/units/monk.png);
}
.militia {
  background: url(../images/units/militia.png);
}
.ninja {
  background: url(../images/units/ninja.png);
}
.norse-warrior {
  background: url(../images/units/norse-warrior.png);
}
.ostrich {
  background: url(../images/units/ostrich.png);
}
.paladin {
  background: url(../images/units/paladin.png);
}
.petard {
  background: url(../images/units/petard.png);
}
.plumed-archer {
  background: url(../images/units/plumed-archer.png);
}
.pikeman {
  background: url(../images/units/pikeman.png);
}
.rattan-archer {
  background: url(../images/units/rattan-archer.png);
}
.rhino {
  background: url(../images/units/rhino.png);
}
.samurai {
  background: url(../images/units/samurai.png);
}
.scorpion {
  background: url(../images/units/scorpion.png);
}
.scout-cavalry {
  background: url(../images/units/scout-cavalry.png);
}
.sheep {
  background: url(../images/units/sheep.png);
}
.shotel-warrior {
  background: url(../images/units/shotel-warrior.png);
}
.siege-ram {
  background: url(../images/units/siege-ram.png);
}
.siege-onager {
  background: url(../images/units/siege-onager.png);
}
.siege-tower {
  background: url(../images/units/siege-tower.png);
}
.skirmisher {
  background: url(../images/units/skirmisher.png);
}
.slinger {
  background: url(../images/units/slinger.png);
}
.spearman {
  background: url(../images/units/spearman.png);
}
.steppe-lancer {
  background: url(../images/units/steppe-lancer.png);
}
.swordsman {
  background: url(../images/units/swordsman.png);
}
.tarkan {
  background: url(../images/units/tarkan.png);
}
.throwing-axeman {
  background: url(../images/units/throwing-axeman.png);
}
.tiger {
  background: url(../images/units/tiger.png);
}
.transport-ship {
  background: url(../images/units/transport-ship.png);
}
.trade-cart {
  background: url(../images/units/trade-cart.png);
}
.trade-cog {
  background: url(../images/units/trade-cog.png);
}
.trebuchet {
  background: url(../images/units/trebuchet.png);
}
.trebuchet-packed {
  background: url(../images/units/trebuchet-packed.png);
}
.tuetonic-knight {
  background: url(../images/units/teutonic-knight.png);
}
.turkey {
  background: url(../images/units/turkey.png);
}
.turtle-ship {
  background: url(../images/units/turtle-ship.png);
}
.two-handed-swordsman {
  background: url(../images/units/two-handed-swordsman.png);
}
.war-elephant {
  background: url(../images/units/war-elephant.png);
}
.war-galley {
  background: url(../images/units/war-galley.png);
}
.war-wagon {
  background: url(../images/units/war-wagon.png);
}
.water-buffalo {
  background: url(../images/units/water-buffalo.png);
}
.woad-raider {
  background: url(../images/units/woad-raider.png);
}
.wolf {
  background: url(../images/units/wolf.png);
}
.wild-boar {
  background: url(../images/units/wild-boar.png);
}
.villager {
  background: url(../images/units/villager.png);
}
.xolotl-warrior {
  background: url(../images/units/xolotl-warrior.png);
}
.zebra {
  background: url(../images/units/zebra.png);
}
